.container{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
   
    display:flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: flex-start;
}
.infoContainer{
    display: flex;
    width:50%;
    flex-direction: column;
    max-height: 600px;
    
    align-items: center;

 
   
}
.gistContainer{
    display: flex;
    flex-direction: column;
   
    box-shadow: 2px 2px 2px 2px lightgrey
    
    



}

.profileImage{
    width: 80%;
    height: 50%;
    margin-left:5%;
    margin-right:5%;
    border-radius: 50%;
}
.userName
{
    font-size: 2em;
    font-weight: bold;
}