.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.container .profilePic {
  width: 80px;
  height: 40px;
  border-radius: 50%;
}
