.gistInfoContainer{
    width: 100%;
  
     display: flex;
     flex-direction: row;
     flex-wrap:wrap;
}
.gistDetails{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left:2%;
        max-width:80%;
}