.gistInfoContainer{
    width: 100%;
  
     display: flex;
     flex-direction: row;
     
     max-height: 25%;
     min-height: 25%;
     
     
   
}
.gistDetails{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left:2%;
        max-width:80%;
        


}
@media screen and (max-width:790px){
    
}