
.gistInfoContainer {
  width: 100%;

  display: flex;
  flex-direction: row;

  max-height: 25%;
  min-height: 25%;
}
.gistDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2%;
  max-width: 80%;
}
.profilePic {
  width: 25%;
  height: 100%;
  max-height: 100px;
  max-width: 25%;
  border-radius: 50%;
}
.gistUserImage{
width: 100%;
height: 100%;
border-radius: 50%;
}
.gistUserImageDiv{
  width: 25%;

  max-width:50px;
  max-height: 50px;
 
  background-color: black;
  border-radius: 50%;

}
@media   screen and(max-width:790px) {
  .gistUserImageDiv{
    width: 25%;
  
    max-width:30px;
    max-height: 30px;
   
    background-color: black;
    border-radius: 50%;
  
  }
  
}
@media   screen and(max-width:490px) {
  .gistUserImageDiv{
    width: 25%;
  
    max-width:20px;
    max-height: 20px;
   
    background-color: black;
    border-radius: 50%;
  
  }
  .gistInfoContainer {
    width: 100%;
  
    display: flex;
    flex-direction: column;
  
    
  }
  
}
