.profilePic{
    width:40px;
    height:40px;
    border-radius: 50px;
   

}
.searchIconWrapper{
    padding-left: 2%;
    height: 100%;
    position: absolute;
    z-index: 1;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}