.userPic {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 10px;
}
.arrow-back-icon {
  margin-left: 0%;
}
.home-back-icon{
  margin-right: 3%;
  margin-left: 1%;
}

.arrow-back-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
.home-back-icon:hover{
  cursor: pointer;
  opacity: 0.5;

}
.searchIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  padding-left: 2%;
  z-index: 1;

 
}
.searchIconWrapper:hover {
  cursor: pointer;
}

.profilePicDiv {
  border-radius: 50%;
  margin-left: 5%;
}
.closeIconWrapper {
  height: 100%;
  padding-right: 2%;
  position: absolute;
  z-index: 1;
  right: 0;
  display: flex;
  align-items: center;
}
.closeIconWrapper:hover {
  cursor: pointer;
}
.company-name {
  margin-left: 1%;
}
